.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: xx-small;

    span{

        &:first-child{
            font-weight: bold;
            font-size: 5;
        }

        &:last-child{
            font-size: 5;
        }
    }
}