@import "../../styles/variable.css";

.menu {
    .item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 40px;
        

        .title {
            font-size: 15px;
            font-weight: 600;  
            color: solid var(--soft-color);
            font-family: sans-serif;
        }

        .main-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            img {
                width: 30px;
                height: 30px;
            }

            .Item-title {
                font-size: 18px;
                font-weight: 300;
            }

            
        }
    }
}
