@import './variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.container {
    display: flex;
}

.sidebarContainer {
    width: 250px;
    padding: 6px 22px;
    border-right: 2px solid var(--soft-color);
}

.contentContainer {
    width: 100;
    padding: 6px 22px;
}