@import './variable.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--main-bg);
    color: var(--main-color);
}

.container {
    display: flex;
    border: 1px solid var(--soft-bg);
  }
  
  .sidebarContainer {
    width: 170px;
    padding: 6px 22px;
    border-right: 20px solid var(--soft-color);
    margin-left: 1px; 
    border: 1px solid var(--soft-bg);
    
  }
  
  .contentContainer {
    flex-grow: 1; /* Allow the content container to grow and take up the remaining space */
    padding: 6px 22px;
    height: 100vh;
    
  }
  
/* .container {
    display: flex;
    
}

.sidebarContainer {
    width: 250px;
    padding: 6px 22px;
    border-right: 1px solid var(--soft-color);
    margin-left: 1px;
    border-bottom: 1px solid var(--soft-color);
}

.contentContainer {
    width: 100; 
    padding: 6px 22px;
    border-bottom: 1px solid var(--soft-color);
} */
